<section style="background: url(assets/img/slide_hero.jpg) no-repeat center center fixed;">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        <h1>{{selected_activity.title}}</h1>
        </div>
    </div>
</section><!-- End section -->

<div class="container margin_60" ng-init="vm.getDetails()">
    <div class="row activity_detail">
        <div class="col-md-8" id="single_tour_desc">
            <div class="list_title">
                <h1>{{selected_activity.title}}</h1>
                <span>{{selected_activity.meeting_point}}</span>
                <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span>
            </div>

            <hr>

            <div class="row"> 
                <div id="single_tour_feat">
                    <ul>
                        <li><i class="icon_set_1_icon-30"></i>{{selected_activity.type}}</li>
                        <li><i class="icon_set_1_icon-83"></i>{{selected_activity.duration}} Hours</li>
                        <li><i class="icon_set_1_icon-37"></i>{{selected_activity.user.organized_activites}} previous activites</li>
                        <li><i class="icon_set_1_icon-30"></i>{{selected_activity.on_board_count}} on board</li>
                        <li><i class="icon_set_1_icon-29"></i>{{selected_activity.vacancies}} left</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3>Description</h3>
                </div>
                <div class="col-md-9">
                    <h4>Info</h4>
                    <p>{{selected_activity.description}}</p>
                    <h4>CheckList</h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li ng-repeat="todo in selected_activity.todos ">{{todo.name}}</li>
                            </ul>
                        </div>
                    </div><!-- End row  -->
                </div>

                <div class="col-md-3">
                    <h3>Organizer</h3>
                </div>
                <div class="col-md-9">
                    <div class="row creator">
                        <div class="col-md-2">
                            <img src="{{selected_activity.user.profile_picture_url}}" alt="Image" class="img-circle" style="width: 70px;">
                        </div>
                        <div class="col-md-9">
                            <h4>{{selected_activity.user.name}}</h4>
                            <div class="rating">
                                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
                            </div>
                            <p>"Love adventures always go beyong."</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Reviews </h3>
                    <a href="#" class="btn_1 add_bottom_30" data-toggle="modal" data-target="#myReview">Leave a review</a>
                </div>
                <div class="col-md-9">
                    <div id="general_rating">11 Reviews 
                    <div class="rating">
                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                        </div>
                    </div><!-- End general_rating -->
                    <div class="row" id="rating_summary">
                        <div class="col-md-6">
                            <ul>
                                <li>Position
                                    <div class="rating">
                                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                    </div>
                                </li>
                                <li>Tourist guide
                                <div class="rating">
                                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Price
                                <div class="rating">
                                    <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                    </div>
                                </li>
                                <li>Quality
                                <div class="rating">
                                    <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- End row -->
                    <hr>
                    <div class="review_strip_single">
                        <img src="assets/img/avatar1.jpg" alt="Image" class="img-circle">
                        <small> 13 Novemeber 2016</small>
                        <h4>Jhon Doe</h4>
                        <p>
                             "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
                        </p>
                        <div class="rating">
                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
                        </div>
                    </div><!-- End review strip -->
                    <div class="review_strip_single last">
                        <img src="assets/img/avatar1.jpg" alt="Image" class="img-circle">
                        <small> 28 September 2016</small>
                        <h4>Nick Fury</h4>
                        <p>
                             "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc."
                        </p>
                        <div class="rating">
                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                        </div>
                    </div><!-- End review strip -->
                </div>
            </div>
        </div><!--End  single_tour_desc-->
        
        <aside class="col-md-4">
      
        <div class="box_style_1 expose">
            <h3 class="inner">- Booking -</h3>
            
            <br>
            <table class="table table_summary">
            <tbody>
      
            <tr class="total">
                <td>
                    Cost
                </td>
                <td class="text-right">
                €{{selected_activity.price}}
                </td>
            </tr>
            </tbody>
            </table>
            <a class="btn_full" href ng-click="vm.RequestToJoin()" ng-show="vm.can_request">Request to be onboard</a>
         
        </div><!--/box_style_1 -->
        
      
        
        </aside>
    </div><!--End row -->
</div><!--End container -->
    

