<section id="hero">
    <div class="intro_title">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="animated fadeInDown">Discover Adventures</h3>
            <h5 class="animated fadeInDown">Hiking . Skiing . Tours . Travels near you</h5>
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="margin-left:0;" ng-click="vm.golistAll()">
                    Start
                    </button>
                    </span>
                </div>
            </form>

            <h5 class="popular-adventures">- Popular Adventures -</h5>
            <div class="row" ng-click="vm.golistAll()">
               <div class="col-md-3 activity_box"><img src="assets/img/activites/4.jpg"  width="800" height="600" class="img-responsive" alt="Image"><span class="title">Hiking<span></div>
               <div class="col-md-3 activity_box"><img src="assets/img/activites/8.jpg"  width="800" height="600" class="img-responsive" alt="Image"><span class="title">Skiing<span></div>
               <div class="col-md-3 activity_box"><img src="assets/img/activites/7.jpg"  width="800" height="600" class="img-responsive" alt="Image"><span class="title">Sightseeing<span></div>
               <div class="col-md-3 activity_box"><img src="assets/img/activites/5.jpg"  width="800" height="600" class="img-responsive" alt="Image"><span class="title">Climbing<span></div>
            </div>
       </div>

    </div>
</section><!-- End hero -->